<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../elements/head");%>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document-admin</title>
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="/js/admin.js"></script>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <div id="user-lists">
    <%= all%>
  </div>
  <div id="user-lists-o">
  </div>
  <textarea name="chat" id="chat" cols="30" rows="1" placeholder="type user name"></textarea>
  <button id = "name-submit">submit</button>
  <div class="modal">
    <div class="top">
      <p>Admin is currently offline</p>
      <div class="circle"></div>
      <button><i class="fa-solid fa-x"></i></button>
    </div>
    <ul id = "textshow">
      <li id = "d"></li>
    </ul>
    <textarea name="text" id="text" cols="30" rows="10"></textarea>
    <button id = "msg-send"><i class="fa-solid fa-paper-plane"></i></button>
  </div>
</body>
</html>