<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document-admin</title>
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="/js/admin.js"></script>
</head>

<body>
  <div id="user-lists">
    <%= all%>
  </div>
  <div id="user-lists-o">
  </div>
  <button id="btn-chat">
    <h1>Start Chat</h1>
  </button>
  <form action="">

  </form>

</body>

</html>