<footer>
  <div class="inner">
    <div class="top">
      <ul>
        <li>
          <a href="">SECURITY</a>
        </li>
        <li>
          <a href="">PRIVACY NOTICE</a>
        </li>
        <li>
          <a href="">TERMS OF SERVICE</a>
        </li>
        <li>
          <a href="https://www.instagram.com/flozgame/"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/Flozgame-107806118601215"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/FLOZGAME"><i class="fa-brands fa-twitter"></i></a>
        </li>
      </ul>
    </div>
    <div class="line">
    </div>
    <div class="bottom">
      <p>© 2022 FLOZGAME, Inc. All Rights Reserved.</p>
    </div>
  </div>
</footer>