<header>
  <ul class = "mobile">
    <li>
      <button id = "btn-logo">
        <img src="/img/floz-white.png" alt="floz_logo">
        <i class="fa-solid fa-caret-down"></i>
      </button>
    </li>
    <li id = "modal2-open">
      <i class="fa-solid fa-bars fa-xl"></i>
    </li>
    <li>
      <a href="/support">
        <i class="fa-solid fa-headset fa-xl"></i>
      </a>
    </li>
  </ul>
  <ul class = "pc">
    <li>
      <button id = "btn-logo">
        <a href="/">
          <img src="/img/floz-white.png" alt="floz_logo">
        </a>
      </button>
    </li>
    <li>
      <div class="title">
        <h2>WHO WE ARE</h2>
        <i class="fa-solid fa-caret-down"></i>
      </div>
      <div class="item">
        <ul>
          <li><a href="/our-story/floz">About FLOZ</a></li>
          <li><a href="/our-story/flozgame">About FLOZGAME</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="title">
        <h2>WORK WITH US</h2>
        <i class="fa-solid fa-caret-down"></i>
      </div>
      <div class="item">
        <ul>
          <li><a href="/games/makeyourgame">Upload Your Games</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="title">
        <h2>GAMES</h2>
        <i class="fa-solid fa-caret-down"></i>
      </div>
      <div class="item">
        <ul>
          <li><a href="/games/cube">CUBE</a></li>
          <li><a href="/games/makeyourgame">CREATE YOUR GAME</a></li>
        </ul>
      </div>
    </li>
    <!-- <li>
      <a href="">
        <h2>NEWS</h2>
      </a>
    </li> -->
    <li>
      <a href=<%= path%> class = <%= list%>>
        <button><%= button%></button>
      </a>
    </li>
    <li>
      <a href="/support">
        <i class="fa-solid fa-headset fa-xl"></i>
      </a>
    </li>
  </ul>
</header>