<header>
  <div class="inner">
    <h1>FLOZ</h1>
      <div class="right">
        <button>
            <a href="">Login</a>
        </button>
          <ul>
              <li>
                <a href = "/" class = "logo">
                    <img src = "./img/floz.jpg" alt = "floz"/>
                </a>
              </li>
              <li>
                  <a href="">News</a>
              </li>
              <li>
                  <a href="">Support</a>
              </li>
              <li>
                  <a href="">Community</a>
              </li>
              <li>
                  <a href="">Game</a>
                  <div class="item__contents">
                    <div class="contents__menu">
                        <ul class = "inner">
                            <li>
                                <h4>CUBE</h4>
                                <ul>
                                    <li>Updates</li>
                                </ul>
                                <h4>Termius</h4>
                                <ul>
                                    <li>Updates</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
              </li>
          </ul>
      </div>
  </div>
</header>