<header>
    <div class="inner">
        <a href = "/" class = "logo">
            <img src = "/img/floz.jpg" alt = "floz"/>
        </a>
        <h1>FLOZ</h1>
        <ul class = "main-menu">
            <li class = "item">
                <div class = "item__name">GAME</div>
                <div class="item__contents">
                    <div class="contents__menu">
                        <ul class = "inner">
                            <li>
                                <!-- <img src = "./img/slider/slider2.jpg"> -->
                                <h4><a href="/games/cube">CUBE</a></h4>
                                <ul>
                                    <li><a href = "/app/Cube Beta 1.4.zip" download>Download</a></li>
                                    <li><a href="/games/cube">Description</a></li>
                                    <li>Rating</li>
                                </ul>
                            </li>
                            <li>
                                <h4>Termius</h4>
                                <ul>
                                    <li>Not ready</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class = "item">
                <div class = "item__name">NEWS</div>
                <div class="item__contents">
                    <div class="contents__menu">
                        <ul class = "inner">
                            <li>
                                <h4>CUBE</h4>
                                <ul>
                                    <li>Updates</li>
                                </ul>
                                <h4>Termius</h4>
                                <ul>
                                    <li>Updates</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class = "item">
              <div class = "item__name"><a href="/support">support</a></div>
              <div class="item__contents">
                  <div class="contents__menu">
                      <ul class = "inner">
                          <li>
                              <h4><a href="/support/chat">chat</a></h4>
                              <h4><a href="/support/email">email</a></h4>
                              <ul>
                                  <li>z</li>
                              </ul>
                          </li>
                      </ul>
                  </div>
              </div>
          </li>
          <li class = "item">
            <div class = "item__name"><a href="/community">Community</a></div>
            <div class="item__contents">
                <div class="contents__menu">
                    <ul class = "inner">
                        <li>
                            <h4><a href="https://www.facebook.com/Flozgame-107806118601215/" target = "_blank">Facebook</a></h4>
                            <ul>
                            </ul>
                            <h4><a href="https://discord.gg/8QYdY9vDfu" target = "_blank">Discord</a></h4>
                            <ul>
                            </ul>
                            <h4><a href="https://twitter.com/FLOZGAME" target = "_blank">Twitter</a></h4>
                            <ul>
                            </ul>
                            <h4><a href="https://www.instagram.com/flozgame/" target = "_blank">Instagram</a></h4>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        </ul>
        <button><a href=<%= path %>><%= button%></a></button>
    </div>
</header>