<div class="modal">
  <div class="inner">
    <div class="top">
      <button id = "btn-modal">
        <img src="./img/floz.jpg" alt="">
        <i class="fa-solid fa-caret-up"></i>
      </button>
      <button id = "btn-modal-close">
        <i class="fa-solid fa-xmark fa-2x"></i>
      </button>
    </div>
    <ul>
      <li id = "modal-games">
        <div class="title" id = "btn-open-games">
          <p>GAMES</p>
          <i class="fa-solid fa-caret-down" id = "caret"></i>
        </div>
        <div class="hidden-area">
          <ul>
            <li>
              <a href="">
                <div class="info">
                  <p>CUBE</p>
                </div>
                <div class="img-area">
                  <img src="/img/floz.jpg" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="info">
                  <p>CUBE</p>
                </div>
                <div class="img-area">
                  <img src="/img/floz.jpg" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="info">
                  <p>CUBE</p>
                </div>
                <div class="img-area">
                  <img src="/img/floz.jpg" alt="">
                </div>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li id = "modal-business">
        <div class="title" id = "btn-open-business">
          <p>BUSINESS</p>
          <i class="fa-solid fa-caret-down" id = "caret"></i>
        </div>
        <div class="hidden-area">
          <ul>
            <li>
              <a href="">
                <div class="info">
                  <p>CUBE</p>
                </div>
                <div class="img-area">
                  <img src="/img/floz.jpg" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="info">
                  <p>CUBE</p>
                </div>
                <div class="img-area">
                  <img src="/img/floz.jpg" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="info">
                  <p>CUBE</p>
                </div>
                <div class="img-area">
                  <img src="/img/floz.jpg" alt="">
                </div>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="inform">
      <ul>
        <li>
          <img src="/img/floz.jpg" alt="">
          <p>Chat from support team is enabled!</p>
        </li>
        <li>
          <img src="/img/floz.jpg" alt="">
          <p>Chat from support team is enabled!</p>
        </li>
        <li>
          <img src="/img/floz.jpg" alt="">
          <p>Chat from support team is enabled!</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-2">
  <div class="inner">
    <div class="top">
      <button id = "btn-modal">
        <img src="./img/floz-white.png" alt="">
        <i class="fa-solid fa-caret-up"></i>
      </button>
      <button id = "btn-modal-close">
        <i class="fa-solid fa-xmark fa-2x"></i>
      </button>
    </div>
    <ul>
      <li id = "modal2-who">
        <div class="title" id = "btn-open-who">
          <p>WHO WE ARE</p>
          <i class="fa-solid fa-caret-down" id = "caret"></i>
        </div>
        <div class="hidden-area">
          <ul>
            <li>
              <a href="">
                <p>About FLOZ</p>
              </a>
            </li>
            <li>
              <a href="">
                <p>Vision</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li id = "modal2-work">
        <div class="title" id = "btn-open-work">
          <p>WORK WITH US</p>
          <i class="fa-solid fa-caret-down" id = "caret"></i>
        </div>
        <div class="hidden-area">
          <ul>
            <li>
              <a href="">
                <p>Jobs</p>
              </a>
            </li>
            <li>
              <a href="">
                <p>Become a partener</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="">
          <div class="title">
            <p>NEWS</p>
          </div>
        </a>
      </li>
    </ul>
    <div class="login">
      <button>
        <a href="">SIGN IN</a>
      </button>
    </div>
  </div>
</div>