<!DOCTYPE html>
<html lang="en">
<head>
  <title>Community</title>
  <%- include("../elements/head");%>
  <link rel="stylesheet" href="./community.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
</head>
<body>
  <%- include("../elements/header");%>
  <div class="main">
    <div class="f"></div>
    <div class="text">
      <h1>Take part in exciting Events</h1>
      <p>on the FLOZ oficial community!</p>
      <a href=""><i class="fa-solid fa-message"></i> Go to Community</a>
      <ul>
        <li><a href="https://www.facebook.com/Flozgame-107806118601215/" target = "_blank"><i class="fa-brands fa-facebook-f s"></i></a></li>
        <li><a href="https://discord.gg/8QYdY9vDfu" target = "_blank"><i class="fa-brands fa-discord s"></i></a></li>
        <li><a href="https://twitter.com/FLOZGAME" target = "_blank"><i class="fa-brands fa-twitter s"></i></a></li>
        <li><a href="https://www.instagram.com/flozgame/" target = "_blank"><i class="fa-brands fa-instagram s"></i></a></li>
      </ul>
    </div>
  </div>
  <%- include("../elements/footer");%>
</body>
</html>