footer{
  width: 100%;
  bottom: 0px;
  display: flex;
  background-color: black;
  position: relative;
  margin-bottom: 0px;
}
footer .inner .container1{
  text-align: center;
  position: relative;
}
footer .inner .container1 .container1-el{
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  color: white;
  position: relative;
}
footer .inner .container1 .container1-el:nth-child(1)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container1 .container1-el:nth-child(2)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container1 .container1-el a{
  color: white;
  text-align: center;
}
footer .inner .container2{
  text-align: center;
  position: relative;
}
footer .inner .container2 .container2-el{
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  position: relative;
}
footer .inner .container2 .container2-el:nth-child(1)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container2 .container2-el:nth-child(2)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container2 .container2-el a{
  color: rgb(122, 122, 122);
  text-align: center;
}
footer .inner .logo img{
  width: 100px;
  position:relative;
  left: calc(50% - 50px);
  bottom: 10px;
}