<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./elements/head");%>
  <link rel="stylesheet" href="/css/main.css" />
  <title>FLOZGAME</title>
  <script defer src = "/js/main.js"></script>
  <script defer src = "/js/modal.js"></script>
</head>
<body>
  <%- include("./elements/header");%>
  <div class="swiper" id = "mobile">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./img/slider/cube-mobile.jpg" alt="?" />
      </div>
      <div class="swiper-slide">
        <img src="./img/slider/cube-mobile.jpg" alt="?">
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div> -->
  </div>
  <div class="swiper" id = "pc">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./img/slider/slider1.png" alt="?" />
      </div>
      <div class="swiper-slide">
        <img src="./img/slider/slider2.jpg" alt="?" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div> -->
  </div>
  <div class="main" id = "mobile">
    <div class="inner">
      <div class="news">
        <div class="title">
          <h2>News</h2>
        </div>
        <ul>
          <li>
            <a href="">
              <div class="topic">
                <p>Chat</p>
              </div>
              <div class="img-area">
                <img src="/img/floz.jpg" alt="">
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="topic">
                <p>Chat</p>
              </div>
              <div class="img-area">
                <img src="/img/floz.jpg" alt="">
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="topic">
                <p>Chat</p>
              </div>
              <div class="img-area">
                <img src="/img/floz.jpg" alt="">
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="games">
        <div class="title">
          <h2>Our Games</h2>
        </div>
        <ul>
          <li>
            <a href="">
              <div class="info">
                <p>CUBE</p>
                <div class="os">
                  <i class="fa-brands fa-windows"></i>
                  <i class="fa-brands fa-android"></i>
                  <i class="fa-brands fa-apple"></i>
                </div>
              </div>
              <div class="img-area">
                <img src="/img/floz.jpg" alt="">
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main" id = "pc">
    <div class="inner">
      <div class="news">
        <div class="title">
          <h2>FLOZ NEWS</h2>
        </div>
        <div class="left">
          <h1>DOWNLOAD CUBE!</h1>
        </div>
        <div class="right">
          <ul>
            <li>
              <a href="">
                <div class="topic">
                  <p> START CHAT WITH CUSTOMER SERVICE REPRESENTATIVES</p>
                </div>
                <div class="img-area">
                  <img src="/img/support.jpg" alt="">
                </div>
              </a>
            </li>
            <!-- <li>
              <a href="">
                <div class="topic">
                  <p>Chat</p>
                </div>
                <div class="img-area">
                  <img src="/img/floz.jpg" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="topic">
                  <p>Chat</p>
                </div>
                <div class="img-area">
                  <img src="/img/floz.jpg" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="topic">
                  <p>Chat</p>
                </div>
                <div class="img-area">
                  <img src="/img/floz.jpg" alt="">
                </div>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="games">
        <div class="title">
          <h2>Our Games</h2>
        </div>
        <ul>
          <li>
            <a href="/games/cube">
              <div class="info">
                <p>CUBE</p>
                <div class="os">
                  <i class="fa-brands fa-windows"></i>
                  <i class="fa-brands fa-android"></i>
                  <i class="fa-brands fa-apple"></i>
                </div>
              </div>
              <div class="img-area">
                <img src="/img/floz.jpg" alt="">
              </div>
            </a>
          </li>
          <!-- <li>
            <a href="">
              <div class="info">
                <p>CUBE</p>
                <div class="os">
                  <i class="fa-brands fa-windows"></i>
                  <i class="fa-brands fa-android"></i>
                  <i class="fa-brands fa-apple"></i>
                </div>
              </div>
              <div class="img-area">
                <img src="/img/floz.jpg" alt="">
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="info">
                <p>CUBE</p>
                <div class="os">
                  <i class="fa-brands fa-windows"></i>
                  <i class="fa-brands fa-android"></i>
                  <i class="fa-brands fa-apple"></i>
                </div>
              </div>
              <div class="img-area">
                <img src="/img/floz.jpg" alt="">
              </div>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <%- include("./elements/footer")%>
  </div>
  <%- include("./elements/modal");%>
</body>
</html>