<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include("./elements/head");%>
</head>
<body>
  <%- include("./elements/header");%>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="./img/slider/slider1.png" alt="?" />
      </div>
      <div class="swiper-slide">
        <img src="./img/slider/slider2.jpg" alt="?">
      </div>
    </div>
    <!-- <div class="swiper-pagination"></div> -->
<!--     <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
<!--     <div class="swiper-scrollbar"></div> -->
  </div>
  <hr></hr>
  <div class="games">
    <div class="inner">
      <h1>All Games</h1>
      <div class="container">
        <div class="box">
          <div class="game-img">
            <div class="game-name">
              <h1>Cube</h1>
            </div>
            <div class="os">
              <img src="./img/all-game/icons/Windows_icon-icons.com_67026-removebg-preview.png" alt="?">
            </div>
          </div>
          <div class="btn">
            <button type = "button" class = "more"><a href = "./game/cube/cube-info.html">LEARN MORE</a></button>
            <button type = "button" class = "download"><a href = "./games/Cube Beta 1.4.exe" download>DOWNLOAD</a></button>
          </div>
        </div>
        <div class="box">
          <div class="game-img">
          </div>
          <div class="game-name">
            <h1>Cube</h1>
          </div>
          <div class="os">
            <img src="./img/all-game/icons/Windows_icon-icons.com_67026-removebg-preview.png" alt="?">
          </div>
        </div>
        <div class="box">
          <div class="game-img">
          </div>
          <div class="game-name">
            <h1>Cube</h1>
          </div>
          <div class="os">
            <img src="./img/all-game/icons/Windows_icon-icons.com_67026-removebg-preview.png" alt="?">
          </div>
        </div>
        <div class="box">
          <div class="game-img">
          </div>
          <div class="game-name">
            <h1>Cube</h1>
          </div>
          <div class="os">
            <img src="./img/all-game/icons/Windows_icon-icons.com_67026-removebg-preview.png" alt="?">
          </div>
        </div>
        <div class="box">
          <div class="game-img">
          </div>
          <div class="btn">
            <button type = "button" class = "more">LEARN MORE</button>
            <button type = "button" class = "download"><a href = "./games/Cube.exe" download>DOWNLOAD</a></button>
          </div>
          <div class="game-name">
            <h1>Cube</h1>
          </div>
          <div class="os">
            <img src="./img/all-game/icons/Windows_icon-icons.com_67026-removebg-preview.png" alt="?">
          </div>
        </div>
        <div class="box">
          <div class="game-img">
          </div>
          <div class="btn">
            <button type = "button" class = "more">LEARN MORE</button>
            <button type = "button" class = "download"><a href = "./games/Cube.exe" download>DOWNLOAD</a></button>
          </div>
          <div class="game-name">
            <h1>Cube</h1>
          </div>
          <div class="os">
            <img src="./img/all-game/icons/Windows_icon-icons.com_67026-removebg-preview.png" alt="?">
          </div>
        </div>
        <div class="box">
          <div class="game-img">
          </div>
          <div class="btn">
            <button type = "button" class = "more">LEARN MORE</button>
            <button type = "button" class = "download"><a href = "./games/Cube.exe" download>DOWNLOAD</a></button>
          </div>
          <div class="game-name">
            <h1>Cube</h1>
          </div>
          <div class="os">
            <img src="./img/all-game/icons/Windows_icon-icons.com_67026-removebg-preview.png" alt="?">
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("./elements/footer");%>
</body>
</html>