<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Security | FLOZGAME</title>
  <%- include("./elements/head");%>
  <link rel="stylesheet" href="/css/security.css">
  <script defer src="/js/modal.js"></script>
</head>
<body>
  <header>
    <%- include("./elements/header");%>
  </header>
  <div class="main">
    <div class="top">
      <img src="/img/cyber-security-gd08294f74_1920.jpg" alt="ERROR"/>
    </div>
    <div class="inner">
      <div class="story">
        <div class="title">
          <p>ABOUT SECURITY</p>
        </div>
        <p>
          Welcome to FLOZGAME! Our privacy notice explains what info FLOZGAME collects when you visit or use the Riot Services, as well as ways we might use or share it. 
          We’re only describing our own practices—this notice doesn’t apply to third parties we don’t own or control, including other companies you might interact with on or through the FLOZ Services.<br><br>

          FLOZGAME, Inc. is headquartered in Los Angeles. FLOZGAME, Inc. and its subsidiaries are part of a global group of affiliated gaming companies with offices and operations around the world. 
          When we say “FLOZGAME” (or similar things like “we” or “us”), we’re referring to the FLOZGAME entity or, where applicable, entities that control and are responsible for your info.<br><br>
          
          When we say “FLOZ Services,” we mean any games, websites, applications, and services that link to this notice, regardless of how you access or use them or engage with us, including through mobile devices or offline such as by phone. 
          Your use of the FLOZ Services is also subject to the Terms of Service in your region (including its provisions regarding limitations on damages, resolution of disputes, and application of governing law). Please read this entire notice to make sure you understand it. 
          You should also read the Terms of Service carefully, and make sure you understand and agree to them before using the FLOZ Services.<br><br>
          
          We encourage you to use the notice’s interactive features to guide you. We’ve written summaries to identify the key issues discussed in many sections at a glance. 
          However, these summaries are intended solely to simplify things and the full notice should be read as it takes priority in the event of any ambiguity or conflicts (so be sure to read the whole thing carefully!). 
        </p>
      </div>
    </div>
    <%- include("./elements/footer");%>
  </div>
  <%- include("./elements/modal");%>
</body>
</html>