<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./elements/head");%>
  <title>About Security | FLOZGAME</title>
  <link rel="stylesheet" href="/css/privacy.css">
  <script defer src="/js/modal.js"></script>
</head>
<body>
  <header>
    <%- include("./elements/header");%>
  </header>
  <div class="main">
    <div class="top">
      <div class="title">
        <p>FLOZGAME TERMS OF SERVICE</p>
      </div>
    </div>
    <div class="inner">
      <div class="story">
        <p>
          Greetings players,<br><br>

          These terms of service (the “Terms”) set out the terms and conditions by which FLOZGAME offers you access to use and enjoy our games, apps, websites and other services (the “Riot Services”). 
          FLOZGAME is a global gaming company headquartered in Los Angeles with offices and operations around the world. 
          When we say “FLOZGAME,” we’re referring to the Riot Games entity responsible for providing the Riot Services in your region (see Section 19, below) and these Terms are an agreement between you and that entity.<br><br>
          
          Please read these Terms carefully and pay particular attention to these items:<br><br>

          You’ll need a FLOZGAME account to access many of our services. 
          To create an account and use the Riot Services, you must: (i) be an adult; (ii) be an emancipated minor; or (iii) have valid parent or legal guardian consent to be bound by these Terms. 
          If you’re not an adult or emancipated minor, or don’t understand this Section, please talk to your parents or legal guardian and ask for help. 
          If you are the parent or legal guardian of a minor who creates an account with us, you and the minor accept and agree to be bound by these Terms. 
          You are also responsible for all use of the account and compliance with these Terms by the minor, including all purchases made on the account. 
          You may not create or use an account or use any of the Riot Services on behalf of any other person or other legal entity or for a commercial purpose.
        </p>
      </div>
    </div>
    <%- include("./elements/footer");%>
  </div>
  <%- include("./elements/modal");%>
</body>
</html>