@import url("elements/header.css");
@import url("elements/footer.css");
@import url("elements/modal.css");

@keyframes tright {
  from {
    transform: translate(-200px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes tleft {
  from {
    transform: translate(200px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes vis {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.13;
  }
}


@keyframes blur {
  to {
    backdrop-filter: blur(8px); 
  }
}

body {
  color: #fff;
}

.main > .top {
  overflow: hidden;
  background-image: url("/img/games/cube_el/road.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.main > .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  transform: translate(10vw);
  padding-bottom: 150px;
}

.main > .top .blur {
  background-color: rgba(214, 214, 214, 0.533);
  width: 100vw;
  height: 80vh;
  animation: blur 2s alternate forwards;
  animation-delay: 3s;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.main > .top .text {
  text-align: center;
}

.main > .top .text img{
  animation: vis 3s alternate forwards;
  opacity: 0.1;
  position: relative;
}

.main > .top .text .first{
  animation: tright 1.1s alternate forwards;
  font-size: 30px;
  position: relative;
  top: 30vh;
}

.main > .top .text .second{
  opacity: 0;
  animation: tleft 1.1s alternate forwards;
  animation-delay: 1.5s;
  font-size: 30px;
}

.inner .story {
  text-align: center;
  font-size: 17px;
  width: 50vw;
}

.inner .story .title{
  text-align: center;
  font-size: 37px;
  margin: 30px;
}

.inner .story > p {
  line-height: 23px;
}

@media (max-width: 700px) {
  .main > .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96vw;
    transform: translate(2vw);
    padding-bottom: 150px;
  }

  .inner .story {
    text-align: center;
    font-size: 17px;
    width: 90vw;
  }
}