@import url("elements/header.css");
@import url("elements/footer.css");
@import url("elements/modal.css");

@keyframes tright {
  from {
    transform: translate(-200px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes tleft {
  from {
    transform: translate(200px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes blur {
  to {
    backdrop-filter: blur(8px); 
  }
}

body {
  color: #fff;
}

.main > .top {
  overflow: hidden;
  background-image: url("/img/office.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.main > .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  transform: translate(10vw);
  padding-bottom: 150px;
}

.main > .top .blur {
  background-color: rgba(214, 214, 214, 0.533);
  width: 100vw;
  height: 80vh;
  animation: blur 2s alternate forwards;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main > .top .text {
  text-align: center;
}

.main > .top .text .first{
  animation: tright 1.1s alternate;
  font-size: 30px;
}

.main > .top .text .second{
  opacity: 0;
  animation: tleft 1.1s alternate forwards;
  animation-delay: 1.5s;
  font-size: 30px;
}

.inner .story {
  text-align: center;
  font-size: 17px;
  width: 50vw;
}

.inner .story .title{
  text-align: center;
  font-size: 37px;
  margin: 30px;
}