@import url("elements/header.css");
@import url("elements/footer.css");
@import url("elements/modal.css");

@media (max-width: 700px) {
  #mobile {
    display: block;
  }

  #pc {
    display: none;
  }

  .swiper {
    position: absolute;
    width: 100%;
    overflow: hidden;
  }
  
  .swiper-slide img{
    width: 100vw;
  }
  
  .swiper-pagination {
    z-index: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000;
  }
  
  .main {
    text-align: center;
    position: relative;
    top: 110vh;
  }
  
  .main .news > h1 {
    color: white;
  }
  
  .main .news ul li {
    width: 90%;
    background-color: #505050;
    position: relative;
    left: 5%;
    border-radius: 20px;
    text-align: left;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .main .news ul li .topic {
    position: absolute;
    margin: 7px;
    font-size: 17px;
    width: 62%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    height: 85px;
  }
  
  .main .news ul li .topic p {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .main .news ul li .img-area{
    width: 40%;
    float: right;
    background-color: #828282;
    overflow: hidden;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .main .news ul li img{
    /* width: 99px; */
    max-height: 100px;;
  }
  
  .main .games {
    color: white;
  }
  
  .main .games ul li {
    width: 90%;
    background-color: #505050;
    position: relative;
    left: 5%;
    border-radius: 20px;
    text-align: left;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .main .games ul li .info {
    position: absolute;
    margin: 7px;
    font-size: 17px;
    width: 62%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .main .games ul li .info p {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .main .games ul li .info .os {
    margin-top: 10px;
    background-color: #80808072;
    padding: 3px;
    border-radius: 3px;
  }
  
  .main .games ul li .info .os i{
    color: #fff;
  }
  
  
  .main .games ul li .img-area{
    width: 40%;
    float: right;
    background-color: #828282;
    overflow: hidden;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .main .games ul li img{
    max-width: 99px;
    max-height: 200px;;
  }
}

@media (min-width: 700px) {
  .modal, .modal-2 {
    display: none;
  }

  #mobile {
    display: none;
  }
  .main .inner{
    margin-bottom: 0px;
  }
  #pc {
    display: block;
  }

  .swiper {
    position: absolute;
    width: 100%;
    overflow: hidden;
  }

  .swiper-slide{
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .swiper-slide-active{
    z-index: 10;
  }

  .swiper-slide img{
    height: 100vh;
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: auto;
  }
  
  .swiper-pagination {
    z-index: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }
  
  .main {
    width: 100%;
    position: relative;
    top: 110vh;
    color: #fff;
  }

  .main .inner {
    width: 80vw;
    transform: translate(10vw);
    position: relative;
  }

  .main .inner .news .title{
    margin-bottom: 100px;
    font-size: 25px;
  }  


  .main .inner .news .left{
    position: relative;
    background-image: url("/img/slider/slider2.jpg");
    width: 38vw;
    height: 300px;
    background-position: center center;
    display: inline-block;
    line-height: 300px;
    justify-content: center;
    text-align: center;
  }  

  .main .inner .news .right{
    float: right;
    width: 39vw;
    position: relative;
    overflow-y: scroll;
    height: 300px;
  }

  .main .news ul li {
    background-color: #505050;
    position: relative;
    border-radius: 20px;
    text-align: left;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .main .news ul li .topic {
    position: absolute;
    margin: 7px;
    font-size: 17px;
    width: 62%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    height: 85px;
  }
  
  .main .news ul li .topic p {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .main .news ul li .img-area{
    width: 40%;
    float: right;
    background-color: #828282;
    overflow: hidden;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .main .news ul li img{
    /* width: 99px; */
    max-height: 100px;;
  }

  .main .games {
    color: white;
    position: relative;
    padding-bottom: 200px;
  }
  
  .main .games .title {
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 25px;
  }
  
  .main .games ul li {
    background-color: #505050;
    position: relative;
    border-radius: 20px;
    text-align: left;
    height: 500px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .main .games ul li:nth-child(1) {
    background-image: url("/img/games/cube_el/cube1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .main .games ul li .info {
    position: absolute;
    margin: 7px;
    font-size: 17px;
    width: 62%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .main .games ul li .info p {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .main .games ul li .info .os {
    margin-top: 10px;
    background-color: #80808072;
    padding: 3px;
    border-radius: 3px;
  }
  
  .main .games ul li .info .os i{
    color: #fff;
  }
  
  
  .main .games ul li .img-area{
    width: 40%;
    float: right;
    background-image: url("/img/games/cube_el/cubel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}