@import url("elements/header.css");
@import url("elements/footer.css");
@import url("elements/modal.css");

@keyframes tright {
  from {
    transform: translate(-200px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes blur {
  to {
    backdrop-filter: blur(8px); 
  }
}

body {
  color: #fff;
}

.main > .top {
  overflow: hidden;
  background-image: url("/img/support.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.main > .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  transform: translate(10vw);
  padding-bottom: 150px;
}

.main > .top .blur {
  background-color: rgba(214, 214, 214, 0.533);
  width: 100vw;
  height: 80vh;
  animation: blur 2s alternate forwards;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main > .top .text {
  text-align: center;
}

.main > .top .text .first{
  animation: tright 1.1s alternate;
  font-size: 30px;
}

.main .inner .wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main > .inner .btn > button {
  background-color: #D13639;
  padding: 30px;
  color: #000;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.main > .inner .divider {
  margin-bottom: 30px;
}

.main > .inner .email {
  margin-bottom: 800px;
}
/*modal*/
@media (max-width: 700px) {
  .modal3 {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 700px;
    border-radius: 10px;
    background-color: #fafafa;
    display: none;
    top: -100px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #000;
  }
  
  .modal3 .modal3-wrapper {
    position: relative;
    width: 100vw;
    height: 700px;
    transform: translate(0, 0);
  }
  
  .modal3 .top {
    position: relative;
    top: 0px;
    width: calc(100% - 5px);
    height: 50px;
    border: solid #808080 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .modal3 .top h1{
    float: left;
  }
  
  .modal3 .top .circle{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #808080;
    float: left;
    position: relative;
    left: 10px;
  }
  
  .modal3 .top button {
    float: right;
    padding: 10px;
    border: 0px;
    position: relative;
    background-color: transparent;
  }
  
  .modal3 .top button i{
    color: red;
  }
  
  .modal3 #textshow{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
    top: 55px;
    position: relative;
  }
  
  .modal3 #textshow li.chat{
    margin: 15px;
    padding: 10px;
    border:#808080;
    background-color: bisque;
    max-width: 150px;
    min-width: 70px;
    clear: both;
    word-break:break-all;
    float: left;
    text-align: left;
    border-radius: 10px;
  }
  
  .modal3 #textshow li.time{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 10px;
    clear: both;
    word-break:break-all;
    float: left;
    text-align: left;
    border-radius: 10px;
  }
  
  .modal3 textarea#text{
    position: absolute;
    bottom: 0px;
    width: calc(100% - 55px);
    height: 40px;
    border: #000 solid 1px;
    border-bottom-left-radius: 10px;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
  }
  
  .modal3 > .modal3-wrapper > button {
    position: relative;
    float: right;
    bottom: 0px;
    right: 0px;
    width: 48px;
    height: 48px;

    border-bottom-right-radius: 10px;
    border:#808080 1px solid;
  }
  
  .modal3 i.fa-paper-plane {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}

@media (min-width: 700px) {
  .modal3 {
    z-index: 10;
    position: fixed;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    background-color: #fafafa;
    display: none;
    top: -100px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #000;
  }
  
  .modal3 .modal3-wrapper {
    position: absolute;
    width: 500px;
    height: 700px;
    transform: translate(0, 0);
  }
  
  .modal3 .top {
    position: absolute;
    top: 0px;
    width: calc(100% - 5px);
    height: 50px;
    border: solid #808080 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .modal3 .top h1{
    float: left;
  }
  
  .modal3 .top .circle{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #808080;
    float: left;
    position: relative;
    left: 10px;
  }
  
  .modal3 .top button {
    float: right;
    padding: 10px;
    border: 0px;
    background-color: transparent;
  }
  
  .modal3 .top button i{
    color: red;
  }
  
  .modal3 #textshow{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
    top: 55px;
    position: relative;
  }
  
  .modal3 #textshow li.chat{
    margin: 15px;
    padding: 10px;
    border:#808080;
    background-color: bisque;
    max-width: 150px;
    min-width: 70px;
    clear: both;
    word-break:break-all;
    float: left;
    text-align: left;
    border-radius: 10px;
  }
  
  .modal3 #textshow li.time{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 10px;
    clear: both;
    word-break:break-all;
    float: left;
    text-align: left;
    border-radius: 10px;
  }
  
  .modal3 textarea#text{
    position: absolute;
    bottom: 0px;
    width: calc(100% - 55px);
    height: 40px;
    border: #000 solid 1px;
    border-bottom-left-radius: 10px;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  .inner .story > p {
    line-height: 23px;
  }
  
  .modal3 > .modal3-wrapper > button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 48px;
    height: 48px;
    border-bottom-right-radius: 10px;
    border:#808080 1px solid;
  }
  
  .modal3 i.fa-paper-plane {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}