.main{
  position: center center;
  margin-bottom: 30px;
}

.main .f{
  background-image: url("/img/games/cube_el/cube1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  filter: blur(4px);
}

.main .text {
  font-family: 'League Gothic', sans-serif;
  text-align: center;
  filter: blur(0px);
  position: relative;
  top: -50vh;
}

.main .text h1{
  font-size: 60px;
  text-shadow: 3px 3px #808080;
}

.main .text p{
  font-size: 40px;
  text-shadow: 2px 2px #808080;
}

.main .text a{
  font-size: 40px;
  padding: 7px;
  color: white;
  background-color: #28288c;
  border-radius: 5px;
}

.main .text ul {
  text-align: center;
}

.main .text ul li{
  display: inline-block;
  display: inline-block;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.main .text ul a{
  border-radius: 50%;
}

.main .text ul .s{
  width: 50px;
  height: 50px;
}

a {
  color: #333;
}