@import url("elements/header.css");
@import url("elements/footer.css");

.main {
  margin-top: 130px;
}

.main {
  margin-top: 130px;
}

.main > .inner{
  width: 600px;
  position: center;
  height: calc(100vh - 150px);
}

.main > .inner .fbox{
  top: 50px;
  width: 600px;
  position: absolute;
  border: solid #808080 2px;
}

.main > .inner .fbox .form-group{
  margin-bottom: 10px;
}

.main > .inner form{
  position: center;
  width: 400px;
  margin: 92px;
}

.main > .inner form input{
  width: 200px;
  height: 20px;
  float: right;
}

.main > .inner form input:nth-child(3){
  float: left;
  margin-left: calc(50% - 50px);
  margin-top: 40px;
}

.main > .inner form input.btn{
  width: 100px;
  height: 30px;
}

.main > .inner a{
  float: right;
  margin: 10px;
}

@media (max-width: 1000px) {
  header h1 {
    font-size: 25px;
  }

  header .logo img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }

  header .main-menu .item .item__name {
    font-size: 12px;
  }

  .games .inner .container .box{
    height: 15px;
  }
  .games .inner .container button{
    height: 15px;
    font-size: 10px;
  }
  .games .inner .container button a{
    height: 15px;
    font-size: 10px;
  }
  .games .inner .container .box .btn .more{
    height: 30px;
    font-size: 10px;
  }
  .games .inner .container .box .btn .download{
    height: 50px;
    font-size: 10px;
  }
  footer .inner .container2 .container2-el{
    font-size: 8px;
  }
  footer .inner .container2 .container2-el a{
    font-size: 12px;
    text-align: center;
  }
  footer .inner .logo img{
    width: 60px;
    left: calc(50% - 30px);
  }
  .main > .inner{
    width: 100%;
  }
  .main > .inner .fbox{
    width: 90%;
    margin-left: 5%;
  }
  .main > .inner form{
    position: center;
    width: 150px;
    margin: 92px;
  }
  .main > .inner form input{
    width: 150px;
  }
}