body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

.inner {
  width : 90%;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: rgba(223, 222, 222, 0.9);
  border-bottom: 2px solid #bebebe;
}

header > .inner {
  height: 120px;
}

header .logo img{
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*main-menu*/
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
header h1 {
  font-size: 40px;
  font-weight:800;
  top: 10px;
  position:absolute;
  right: 50%;
  transform: translate(50%);/*ddddddddddddddddddddd*/
  top: 30px;
  font-family: 'Fugaz One', cursive;
}
header .main-menu .item .inner img {
  width: 200px;
}
header .main-menu .item .item__name {
  padding: 10px 20px 15px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #323232;
  color: white;
  border-radius: 6px 6px 0 0;
  transition: background-color .5s ;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  visibility: hidden;
}
header .main-menu .item:hover .item__contents {
  visibility: visible;
}
header .main-menu .item:hover .item__contents .contents__menu {
  background-color: #323232;
  transition: .5s;
}
header .main-menu .item .item__contents .contents__menu > ul {
  padding: 20px 0;
  display: flex;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li a{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover a{
  color: #fff;
}

header button {
  float: right;
  padding: 10px;
  margin-top: 30px;
}
.swiper {
  overflow: hidden;
  width: 100%;
}
.swiper-slide {
  margin-top: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.swiper-slide img {
  display: block;
  overflow:hidden;
  width: 100%;
}
hr {
  margin-top: 10vw;
  display: block;
  position: relative;
  border: solid rgba(128,128,128,0.4) 2px;
  width: 60%;
  border-radius: 5px;
}

.games .inner h1 {
  margin-top: 100px;
  font-size: 50px;
  font-family: 'Magra', sans-serif;
  text-align: center;
  font-weight:800;
}
/* .games .inner .game-name {
  margin-top: 30px;
  font-family: "Fugaz One", cursive;
  font-size: 30px;
} */
.games .inner .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.games .inner .container .box{
  min-width: 113px;
  min-height: calc(120px * 24 / 17 + 30px);
  width: 13vw;
  height:calc(13vw * 24 / 17 + 60px);
  margin: 8px;
  border: 3px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background-color:darkgrey;
  position: relative;
}
.games .inner .container .box .game-img{
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  transition:.5s ease-out;
}
.games .inner .container .box .btn .more{
  position: absolute;
  visibility:hidden;
  opacity: 0;
  height: 50px;
  top: 30%;;
  right: 50%;
  transform: translate(50%);
  border-radius: 10px;
  transition:.5s ease-out;
  box-shadow: 10px;
  width: 80%;
}
.games .inner .container .box .btn .download{
  position: absolute;
  visibility:hidden;
  opacity: 0;
  height: 50px;
  top: calc(50%);
  right: 50%;
  transform: translate(50%);
  border-radius: 10px;
  transition:.5s ease-out;
  box-shadow: 10px;
  width: 80%;
  height: 10%;
}
.games .inner .container .box .btn .download a{
  color: black;
}
.games .inner .container .box .btn .more a{
  color: black;
}
.games .inner .container .box:nth-child(1) .game-img{
  background-image: url('./img/all-game/cube.jpg');
}
/* .games .inner .container .box:nth-child(2) .game-img{
  background-image: url('../img/floz.jpg');
} */
.games .inner .container .box .game-img .game-name{
  position:absolute;
  bottom: 0px;
}
.games .inner .container .box .game-img .os{
  position: absolute;
  bottom: 0px;
  right: calc(30% + 10px);
}
.games .inner .container .box .game-img .game-name h1{
  position:absolute;
  font-family: 'Fugaz One', cursive;
  font-size: 25px;
  bottom: 0px;
}
.games .inner .container .box .game-img .os img{
  position: absolute;
  float:right;
  bottom: 4px;
  left: calc(23% + 10px);
  height: 45px;
}
footer{
  width: 100%;
  bottom: 0px;
  display: flex;
  background-color: black;
  position: relative;
  margin-bottom: 0px;
}
footer .inner .container1{
  text-align: center;
  position: relative;
}
footer .inner .container1 .container1-el{
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  color: white;
  position: relative;
}
footer .inner .container1 .container1-el:nth-child(1)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container1 .container1-el:nth-child(2)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container1 .container1-el a{
  color: white;
  text-align: center;
}
footer .inner .container2{
  text-align: center;
  position: relative;
}
footer .inner .container2 .container2-el{
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  position: relative;
}
footer .inner .container2 .container2-el:nth-child(1)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container2 .container2-el:nth-child(2)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container2 .container2-el a{
  color: rgb(122, 122, 122);
  text-align: center;
}
footer .inner .logo img{
  width: 100px;
  position:relative;
  left: calc(50% - 50px);
  bottom: 10px;
}