@import url("elements/header.css");
@import url("elements/footer.css");

body > .main {
  width: 50vw;
  transform: translate(25vw);
  position: relative;
  top: 170px;
}

body > .main .support {
}

body > .main .support .login{
  text-align: center;
  border: solid 1px gray;
}

body > .main .support .login h1{
  margin: 5px;
}

body > .main .support .login button:nth-child(2) {
  margin: 15px 50px;
  padding: 10px 50px;
}

body > .main .support .login button:nth-child(3) {
  margin: 15px 50px;
  padding: 10px 50px;
}

.chat {
}

.chat .live{

}

.chat .email{

}

.room {
  position: fixed;
  right: 20px;
  bottom: 50px;
  height: 500px;
  border: solid 2px gray;
  border-radius: 10px;
}

footer {
  top: 1000px;
}

/*modal*/

.modal {
  z-index: 10;
  position: fixed;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  background-color: #fafafa;
  display: none;
  transform:translate(calc(50vw - 250px), calc(50vh - 250px));
  overflow-y: hidden;
  overflow-x: hidden;
}

.modal .top {
  position: absolute;
  top: 0px;
  width: calc(100% - 5px);
  height: 50px;
  border: solid #808080 2px;
}

.modal .top h1{
  float: left;
}

.modal .top .circle{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #808080;
  float: left;
}

.modal .top button {
  float: right;
}

.modal .top button i{
  color: red;
}

.modal #textshow{
  overflow-y: scroll;
  height: 600px;
  position: relative;
  top: 50px;
}

.modal textarea#text{
  position: absolute;
  bottom: 0px;
  width: calc(100% - 55px);
  height: 40px;
  border: #000 solid 1px;
  border-radius: 10px;
}

.modal input#submit {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 48px;
  height: 48px;
}

.modal form i {
  position: absolute;
  bottom: 15px;
  right: 15px;
}