body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

.inner {
  width : 80%;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: rgba(223, 222, 222, 0.9);
  border-bottom: 2px solid #bebebe;
}

header > .inner {
  height: 120px;
}

header .logo img{
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*main-menu*/
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
header h1 {
  font-size: 40px;
  font-weight:800;
  top: 10px;
  position:absolute;
  right: 50%;
  transform: translate(50%);/*ddddddddddddddddddddd*/
  top: 30px;
  font-family: 'Fugaz One', cursive;
}
header .main-menu .item .inner img {
  width: 200px;
}
header .main-menu .item .item__name {
  padding: 10px 20px 15px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #323232;
  color: white;
  border-radius: 6px 6px 0 0;
  transition: background-color .5s ;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  visibility: hidden;
}
header .main-menu .item:hover .item__contents {
  visibility: visible;
}
header .main-menu .item:hover .item__contents .contents__menu {
  background-color: #323232;
  transition: .5s;
}
header .main-menu .item .item__contents .contents__menu > ul {
  padding: 20px 0;
  display: flex;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li a{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover a{
  color: #fff;
}
.floating-area {
  position:relative;
  top: 120px;
  display: flex;
  width: 100%;
  height: calc(100vw * .3);
  min-height: 200px;
  background-image: url('../../img/games/cube_el/background.jpg');
  background-position: center;
/*   height: calc(7.5 / 13 * 100vw); */
}
.floating-area .float img{
  opacity: 0;
  position: absolute;
  display: block;
  left: 50%;
  transform: translate(-50%);
}
.floating-area .float .road{
  position: absolute;
  width: 100%;
  transition: 1s ease-out;
  bottom: 0px;
}
.floating-area .float .cube{
  position: absolute;
  width: 10%;
  top: 60%;
  transition: 1s ease-out;
}
.middle {
  position: relative;
}
.middle .detail{
  position: relative;
  top: 50px;
}
.middle .detail h1{
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 900;
}
.middle .detail .container{
  position: absolute;
  width: 80vw;
  background-color: rgb(56, 55, 55);
  border-radius: 5px;
}
.middle .detail .container ul li{
  color: whitesmoke;
  float: left;
  margin-right: 10vw;
  margin-top: 10px;
}
.middle .detail .container ul:nth-child(1){
  color: whitesmoke;
  float: left;
  margin-left: 3.3vw;
}
.middle .detail .container ul li h1 {
  color: gray;
  font-family: 'Roboto';
  font-weight: 900;
}
.middle .detail .container ul li h2 {
  color: whitesmoke;
  position: relative;
  top: -10px;
  font-family: 'Roboto';
  font-weight: 900;
}
.middle .game-summary{
  position: absolute;
  top: 300px;
}
.middle .game-summary h1{
  font-size: 20px;
  font-family: 'Roboto';
  font-weight:900;
}
.middle .game-summary .container{
  background-color: rgb(56, 55, 55);
  width: 80vw;
  border-radius: 5px;
  position: absolute;
}
.middle .game-summary .container .inner{
  padding-top: 20px;
  width : 90%;
  padding-bottom: 20px;
}
.middle .game-summary .container p{
  color: whitesmoke;
  font-family: 'Roboto';
}
footer{
  width: 100%;
  display: flex;
  background-color: black;
  position: relative;

}
footer .inner .container1{
  text-align: center;
  position: relative;
}
footer .inner .container1 .container1-el{
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  color: white;
  position: relative;
}
footer .inner .container1 .container1-el:nth-child(1)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container1 .container1-el:nth-child(2)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container1 .container1-el a{
  color: white;
  text-align: center;
}
footer .inner .container2{
  text-align: center;
  position: relative;
}
footer .inner .container2 .container2-el{
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  position: relative;
}
footer .inner .container2 .container2-el:nth-child(1)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container2 .container2-el:nth-child(2)::after{
  content: "";
  width: 1px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .inner .container2 .container2-el a{
  color: rgb(122, 122, 122);
  text-align: center;
}
footer .inner .logo img{
  width: 100px;
  position:relative;
  left: calc(50% - 50px);
  bottom: 10px;
}