<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FLOZ</title>
      <!--open graph-->
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="FLOZ" />
      <meta property="og:title" content="FLOZ" />
      <meta property="og:description" content="FLOZ is a game site" />
      <meta property="og:image" content="../../img/floz.jpg" />
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <!--favicon-->
      <link rel = "icon" href = "../../img/floz.jpg"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Magra&display=swap" rel="stylesheet">
  <!--Google Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./cube.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script defer src = "./cube.js"></script>
</head>
<body>
    <header>
        <div class="inner">
            <a href = "../../index.html" class = "logo">
                <img src = "../../img/floz.jpg" alt = "floz"/>
            </a>
            <h1>FLOZ</h1>
            <ul class = "main-menu">
                <li class = "item">
                    <div class = "item__name">GAME</div>
                    <div class="item__contents">
                        <div class="contents__menu">
                            <ul class = "inner">
                                <li>
                                    <!-- <img src = "./img/slider/slider2.jpg"> -->
                                    <h4>CUBE</h4>
                                    <ul>
                                        <li><a href = "../../games/Cube Beta 1.4.exe" download>Download</a></li>
                                        <li><a href="../../game/cube/cube-info.html">Description</a></li>
                                        <li>Rating</li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>Termius</h4>
                                    <ul>
                                        <li>Not ready</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class = "item">
                    <div class = "item__name">NEWS</div>
                    <div class="item__contents">
                        <div class="contents__menu">
                            <ul class = "inner">
                                <li>
                                    <h4>CUBE</h4>
                                    <ul>
                                        <li>Updates</li>
                                        <li>??</li>
                                        <li>z</li>
  
                                    </ul>
                                    <h4>zz</h4>
                                    <ul>
                                        <li>z</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class = "item">
                  <div class = "item__name">Support</div>
                  <div class="item__contents">
                      <div class="contents__menu">
                          <ul class = "inner">
                              <li>
                                  <h4>A</h4>
                                  <ul>
                                      <li>?</li>
                                      <li>??</li>
                                      <li>z</li>
  
                                  </ul>
                                  <h4>zz</h4>
                                  <ul>
                                      <li>z</li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </div>
              </li>
              <li class = "item">
                <div class = "item__name">NEWS</div>
                <div class="item__contents">
                    <div class="contents__menu">
                        <ul class = "inner">
                            <li>
                                <h4>LOGIN</h4>
                                <ul>
                                    <li>Updates</li>
                                    <li>??</li>
                                    <li>z</li>

                                </ul>
                                <h4>zz</h4>
                                <ul>
                                    <li>z</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            </ul>
        </div>
    </header>
  <div class="floating-area">
      <div class="float">
          <img src="../../img/games/cube_el/road2.png" alt="" class = "road">
      </div>
      <div class="float">
          <img src="../../img/games/cube_el/cubel.jpg" alt="" class = "cube">
      </div>
  </div>
  <div class="middle">
      <div class="inner">
          <div class="detail">
              <h1>Details</h1>
              <div class="container">
                  <ul>
                      <li>
                          <div class = "genre">
                              <h1>Genre</h1><br>
                              <h2>Racing</h2>
                          </div>
                      </li>
                      <li>
                          <div class = "publisher">
                              <h1>Publisher</h1><br>
                              <h2>FlozGame</h2>
                          </div>
                      </li>
                      <li>
                          <div class="dev">
                              <h1>Developer</h1><br>
                              <h2>David Ko</h2>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="game-summary">
              <h1>Game Summary</h1>
              <div class="container">
                  <div class="inner">
                      <p>Cube Slider, David's debut work, follows typical run game. However, 
                          he approached the genre in a new way. Rather than making the level cosistsed of randomized obstacles, he used handmade design.
                           This kind of approach could results in lacking diversity in gameplay, 
                           but this game doesn't. With really fast-paced gameplay and stylish physical effect,
                            the game doesn't feel repetitive or boring. Rather, 
                            the level gives the feeling of learning every positions of obstacles.

                        Thus, high color contrast and many other bold stylistic choices, the game differentiates itself from other similar games.
                        </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer>
    <div class="inner">
      <ul class = "container1">
        <li class = "container1-el"><a href = "../../index.html">SUPPORT</a></li>
        <li class = "container1-el"><a href = "../../index.html">ABOUT FLOZ</a></li>
        <li class = "container1-el"><a href = "./index.html">CAREERS</a></li>
      </ul>
      <ul class = "container2">
        <li class = "container2-el"><a href = "../../index.html">BUSINESS OPPORTUNITIES</a></li>
        <li class = "container2-el"><a href = "../../index.html">INVESTOR RELATIONS</a></li>
        <li class = "container2-el"><a href = "../../index.html">PRIVACY POLICY</a></li>
      </ul>
      <div class="logo">
        <img src="../../img/floz-white.png" alt="FLOZ">
      </div>
    </div>
  </footer>
</body>
</html>