<!DOCTYPE html>
<html lang="en">
<head>
  <title>CUBE | FLOZGAME</title>
  <%- include("../elements/head");%>
  <link rel="stylesheet" href="/css/cube.css">
  <script defer src="/js/modal.js"></script>
</head>
<body>
  <header>
    <%- include("../elements/header");%>
  </header>
  <div class="main">
    <div class="top">
      <div class="blur">
        <div class="text">
          <div class="second">
            <p>PLAY CUBE!</p>
          </div>
          <div class="first">
            <img src="/img/games/cube_el/cubel.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="story">
        <div class="title">
          <p>CUBE</p>
        </div>
        <p>
          Cube Slider, David's debut work, follows a typical run game. However,
          he approached the genre in a new way. Rather than making the level consists of randomized
          obstacles, he used handmade design.
          This kind of approach could results in lacking diversity in gameplay,
          but this game doesn't. With really fast-paced gameplay and stylish physical effect,
          the game doesn't feel repetitive or boring. Rather,
          the level gives the feeling of learning every position of obstacles.

          Thus, high color contrast and many other bold stylistic choices, the game differentiates
          itself from other similar games.

        </p>
        <div class="btn">
          <button type = "button" class = "download" id = "cube_pc"><a href = "/app/Cube Beta 1.4.zip" download>Download fot PC</a></button>
        </div>
      </div>
    </div>
    <%- include("../elements/footer");%>
  </div>
  <%- include("../elements/modal");%>
</body>
</html>