<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../elements/head");%>
  <title>Create Your Game | FLOZGAME</title>
  <link rel="stylesheet" href="/css/yourgame.css">
  <script defer src="/js/modal.js"></script>
</head>
<body>
  <header>
    <%- include("../elements/header");%>
  </header>
  <div class="main">
    <div class="top">
      <div class="blur">
        <div class="text">
          <div class="first">
            <p>ARE YOU A DEVELOPER?</p>
          </div>
          <div class="second">
            <p>SELL YOUR OWN GAMES IN HERE!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="story">
        <div class="title">
          <p>What do I need to upload a game?</p>
        </div>
        <p>
          If you are a developer and are interested in selling games, please email us at admin@flozgame.click! 
          The application form is as follows: 1. Name of game, 2. Game installation file, 
          3. Game environment (IOS, windows, linux, android), 4. Brief description of game, 5. Game price, 
          6. Minimum requirements to play the game
        </p>
      </div>
    </div>
    <%- include("../elements/footer");%>
  </div>
  <%- include("../elements/modal");%>
</body>
</html>