<!DOCTYPE html>
<html lang="en">
<head>
  <title>Support | FLOZGAME</title>
  <%- include("../elements/head");%>
  <link rel="stylesheet" href="/css/support.css">
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="/js/modal.js"></script>
  <script defer src="/js/support.js"></script>
</head>
<body>
  <header>
    <%- include("../elements/header");%>
  </header>
  <div class="main">
    <div class="top">
      <div class="blur">
        <div class="text">
          <div class="first">
            <p>WELCOME TO FLOZGAME SUPPORT CENTER</p>
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="wrapper">
        <div class="btn">
          <button id = "chat">CLICK HERE TO START CHAT WITH CUSTOMER SERVICE REPRESENTATIVES</button>
        </div>
        <div class="divider">
          <p>OR</p>
        </div>
        <div class="email">
          <p>SEND EMAIL TO support@flozgame.click</p>
        </div>
      </div>
      <div class="modal3">
        <div class="modal3-wrapper">
          <div class="top">
            <h1>Admin is currently offline</h1>
            <div class="circle"></div>
            <button><i class="fa-solid fa-x"></i></button>
          </div>
          <ul id = "textshow">
      
          </ul>
          <div class="buttom">
            <textarea name="text" id="text" cols="30" rows="10"></textarea>
            <button id = "msg-send"><i class="fa-solid fa-paper-plane"></i></button>
          </div>
        </div>
      </div>
    </div>
    <%- include("../elements/footer");%>
  </div>
  <%- include("../elements/modal");%>
</body>
</html>