<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../elements/head");%>
  <link rel="stylesheet" href="/support.css">
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="/js/support.js"></script>
</head>
<body>
  <header>
    <%- include("../elements/header");%>
  </header>
  <div class="modal">
    <div class="top">
      <h1>Admin is currently offline</h1>
      <div class="circle"></div>
      <button><i class="fa-solid fa-x"></i></button>
    </div>
    <form action="/support/chat" method = "POST" id = "form">
      <textarea name="text" id="text" cols="30" rows="10"></textarea>
      <input type= "submit" id = "submit" value = ""/>
      <i class="fa-solid fa-paper-plane"></i>
    </form>
  </div>
  <div class="main">
    <div class="support">
      <h1>FLOZ Support</h1>
      <h2>What do you need help with?</h2>
      <div class="login">
        <h1>Sign in to your Steam account to review purchases, account status, and get personalized help.</h1>
        <button>
          <a href="/">Sign into FLOZ</a>
        </button>
        <button>
          <a href="/">Create Account</a>
        </button>
      </div>
    </div>
    <div class="chat">
      <div class="live">
        <button id = "chat">Start Chat</button>
      </div>
      <div class="email">
        <h1>use email</h1>
      </div>
    </div>
  </div>
  <div class="room">
    <div class="screen">
      <form action="" method="POST">
        <input type="text">
      </form>
    </div>
  </div>
  <%- include("../elements/footer");%>
</body>
</html>